In [2]:
import pandas as pd

In [1]:
data = [x for x in range(1, 6)]
data

[1, 2, 3, 4, 5]

In [3]:
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# series with dictionary
data_dictionary = {
	'a': 1,
	'b': 2,
	'c': 3
}

series_dictionary = pd.Series(data_dictionary)
series_dictionary

a    1
b    2
c    3
dtype: int64

In [6]:
# giving manual indexes
data_indexing = [x for x in range(10, 101, 10)]
indexes = [x for x in 'abcdefghij']
series_indexes = pd.Series(data_indexing, index=indexes)
series_indexes

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [9]:
data_df = {
	'Name': ['Dev', 'Marlon', 'Melanie'],
	'Age': [29, 29, 30],
	'Job': ['Tutor', 'Engineer', 'Teacher']
}
data_df

{'Name': ['Dev', 'Marlon', 'Melanie'],
 'Age': [29, 29, 30],
 'Job': ['Tutor', 'Engineer', 'Teacher']}

In [10]:
df = pd.DataFrame(data_df)
df

      Name  Age       Job
0      Dev   29     Tutor
1   Marlon   29  Engineer
2  Melanie   30   Teacher

In [11]:
import numpy as np
np.array(df)

array([['Dev', 29, 'Tutor'],
       ['Marlon', 29, 'Engineer'],
       ['Melanie', 30, 'Teacher']], dtype=object)

In [12]:
from sklearn.datasets import fetch_california_housing

In [13]:
data_fetch = fetch_california_housing(as_frame=True).frame
data_fetch

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [14]:
data_fetch.to_csv('house_data.csv')

In [16]:
df__house = pd.read_csv('house_data.csv')

In [17]:
df__house.head(20)

,Unnamed: 0,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
5,5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,2.697
6,6,3.6591,52.0,4.931907,0.951362,1094.0,2.128405,37.84,-122.25,2.992
7,7,3.1200,52.0,4.797527,1.061824,1157.0,1.788253,37.84,-122.25,2.414
8,8,2.0804,42.0,4.294118,1.117647,1206.0,2.026891,37.84,-122.26,2.267
9,9,3.6912,52.0,4.970588,0.990196,1551.0,2.172269,37.84,-122.25,2.611
10,10,3.2031,52.0,5.477612,1.079602,910.0,2.263682,37.85,-122.26,2.815
11,11,3.2705,52.0,4.772480,1.024523,1504.0,2.049046,37.85,-122.26,2.418
12,12,3.0750,52.0,5.322650,1.012821,1098.0,2.346154,37.85,-122.26,2.135
13,13,2.6736,52.0,4.000000,1.097701,345.0,1.982759,37.84,-122.26,1.913
14,14,1.9167,52.0,4.262903,1.009677,1212.0,1.954839,37.85,-122.26,1.592
15,15,2.1250,50.0,4.242424,1.071970,697.0,2.640152,37.85,-122.26,1.400
16,16,2.7750,52.0,5.939577,1.048338,793.0,2.395770,37.85,-122.27,1.525
17,17,2.1202,52.0,4.052805,0.966997,648.0,2.138614,37.85,-122.27,1.555
18,18,1.9911,50.0,5.343675,1.085919,990.0,2.362768,37.84,-122.26,1.587
19,19,2.6033,52.0,5.465455,1.083636,690.0,2.509091,37.84,-122.27,1.629

In [18]:
df__house.tail(15)

,Unnamed: 0,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
20625,20625,4.1250,37.0,7.285714,1.214286,29.0,2.071429,39.12,-121.52,0.720
20626,20626,2.1667,36.0,6.573099,1.076023,504.0,2.947368,39.18,-121.43,0.938
20627,20627,3.0000,5.0,6.067797,1.101695,169.0,2.864407,39.13,-121.32,1.625
20628,20628,2.5952,19.0,5.238462,1.079487,1018.0,2.610256,39.10,-121.48,0.924
20629,20629,2.0943,28.0,5.519802,1.020902,6912.0,3.801980,39.12,-121.39,1.083
20630,20630,3.5673,11.0,5.932584,1.134831,1257.0,2.824719,39.29,-121.32,1.120
20631,20631,3.5179,15.0,6.145833,1.141204,1200.0,2.777778,39.33,-121.40,1.072
20632,20632,3.1250,15.0,6.023377,1.080519,1047.0,2.719481,39.26,-121.45,1.156
20633,20633,2.5495,27.0,5.445026,1.078534,1082.0,2.832461,39.19,-121.53,0.983
20634,20634,3.7125,28.0,6.779070,1.148256,1041.0,3.026163,39.27,-121.56,1.168
20635,20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [19]:
df__house.sample(10)

,Unnamed: 0,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
17531,17531,2.1714,46.0,3.235135,1.124324,898.0,2.427027,37.34,-121.89,1.906
4443,4443,1.9881,37.0,3.600791,0.984190,1961.0,3.875494,34.09,-118.21,1.592
6468,6468,4.0179,42.0,5.136816,1.004975,1313.0,3.266169,34.10,-118.05,2.743
15491,15491,2.3200,7.0,3.939873,1.065190,5410.0,3.424051,33.15,-117.18,1.175
9827,9827,2.5263,52.0,5.819820,1.349099,790.0,1.779279,36.62,-121.92,2.864
3250,3250,2.0976,25.0,3.660839,0.944056,1505.0,5.262238,35.99,-119.96,0.477
16932,16932,2.8571,44.0,2.768041,0.891753,355.0,1.829897,37.56,-122.32,2.500
6137,6137,3.0806,8.0,4.534676,1.073826,1781.0,3.984340,34.08,-117.97,1.424
20348,20348,2.8942,39.0,4.333333,1.090909,113.0,3.424242,34.19,-119.05,2.750
2601,2601,1.8065,22.0,5.984848,1.409091,686.0,2.598485,41.30,-123.66,0.627

In [20]:
df__house.describe()

,Unnamed: 0,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,10319.500000,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,5958.399114,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.000000,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,5159.750000,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,10319.500000,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,15479.250000,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,20639.000000,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [22]:
df__house['HouseAge']

0        41.0
1        21.0
2        52.0
3        52.0
4        52.0
         ...
20635    25.0
20636    18.0
20637    17.0
20638    18.0
20639    16.0
Name: HouseAge, Length: 20640, dtype: float64

In [23]:
df__house.loc[10]

Unnamed: 0      10.000000
MedInc           3.203100
HouseAge        52.000000
AveRooms         5.477612
AveBedrms        1.079602
Population     910.000000
AveOccup         2.263682
Latitude        37.850000
Longitude     -122.260000
MedHouseVal      2.815000
Name: 10, dtype: float64