In [2]:
import pandas as pd

In [1]:
data = [x for x in range(1, 6)]
data

[1, 2, 3, 4, 5]

In [3]:
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# series with dictionary
data_dictionary = {
	'a': 1,
	'b': 2,
	'c': 3
}

series_dictionary = pd.Series(data_dictionary)
series_dictionary

a    1
b    2
c    3
dtype: int64

In [6]:
# giving manual indexes
data_indexing = [x for x in range(10, 101, 10)]
indexes = [x for x in 'abcdefghij']
series_indexes = pd.Series(data_indexing, index=indexes)
series_indexes

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [9]:
data_df = {
	'Name': ['Dev', 'Marlon', 'Melanie'],
	'Age': [29, 29, 30],
	'Job': ['Tutor', 'Engineer', 'Teacher']
}
data_df

{'Name': ['Dev', 'Marlon', 'Melanie'],
 'Age': [29, 29, 30],
 'Job': ['Tutor', 'Engineer', 'Teacher']}

In [10]:
df = pd.DataFrame(data_df)
df

      Name  Age       Job
0      Dev   29     Tutor
1   Marlon   29  Engineer
2  Melanie   30   Teacher

In [11]:
import numpy as np
np.array(df)

array([['Dev', 29, 'Tutor'],
       ['Marlon', 29, 'Engineer'],
       ['Melanie', 30, 'Teacher']], dtype=object)